.vscode/**
_build/**

#/ThirdParty CMakeLists.txt will download any external projects necessary
ThirdParty/**
!ThirdParty/CMakeLists.txt
#Some of them have bad build systems so I patch in my own
!ThirdParty/*.patch

Testing/**